{% extends "base.html" %} {% block title %} SOS | Login{% endblock %} {% block
content %}
<form class="mt-5 d-block mw-60" method="POST">
  <h1 class="mb-3 text-center">Login</h1>
  <div class="mb-3 form-floating">
    <input
      class="form-control"
      type="text"
      id="email"
      name="email"
      placeholder="sasi@sasi.com"
    />
    <label class="form-label" for="email">Email Address</label>
  </div>
  <div class="mb-3 form-floating">
    <input
      class="form-control"
      type="password"
      id="password"
      name="password"
      placeholder="Password"
    />
    <label class="form-label" for="password">Password</label>
  </div>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Login</button>
  </div>
</form>

{% endblock %}
